@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&family=Inter:wght@200;300;400;500&family=Josefin+Sans:wght@700&family=Karla:wght@700&family=Lato:ital,wght@0,300;0,400;0,700;1,700&family=Mulish:wght@300&family=Playfair+Display:wght@700&family=Roboto:wght@300;400;500;700&family=Syne:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$basic-green-color: #4CAF50;
$basic-white-color: #fff;
$basic-gray-color: #ddd;
